In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType

# Spark 세션 생성
import os, sys
import pyspark

myConf=pyspark.SparkConf()
spark = pyspark.sql.SparkSession\
    .builder\
    .master("local")\
    .appName("myApp")\
    .config(conf=myConf)\
    .getOrCreate()

23/11/13 14:00:54 WARN Utils: Your hostname, sojaehwiui-MacBookPro.local resolves to a loopback address: 127.0.0.1; using 172.30.1.29 instead (on interface en0)
23/11/13 14:00:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/13 14:00:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [15]:
my_data = ['1 바둑이 11 7.5', '2 갑돌이 22 3.5', '3 갑순이 33 5.0']
rdd = spark.sparkContext.parallelize(my_data)
rdd = rdd.map(lambda x: x.split())
rdd = rdd.map(lambda x: (int(x[0]), x[1], int(x[2]), float(x[3]) ) )
rdd.collect()

[(1, '바둑이', 11, 7.5), (2, '갑돌이', 22, 3.5), (3, '갑순이', 33, 5.0)]

In [17]:
# 스키마 정의
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("month", IntegerType(), True),
    StructField("weight", FloatType(), True)
])


# Dataframe 생성
df = spark.createDataFrame(rdd, schema)

In [18]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- month: integer (nullable = true)
 |-- weight: float (nullable = true)

In [19]:
df.show()

+---+------+-----+------+
| id|  name|month|weight|
+---+------+-----+------+
|  1|바둑이|   11|   7.5|
|  2|갑돌이|   22|   3.5|
|  3|갑순이|   33|   5.0|
+---+------+-----+------+